   <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin: 67px 0 20px;">ABB Transformer</h1>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            Transformer Status
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Winding Temperature</td>
                                            <td class="success">Normal</td>
                                            <td>        </td>
                                        </tr>
                                        <tr>
                                            <td>Oil Temperature</td>
                                            <td class="success">Normal</td>
                                            <td>        </td>
                                        </tr>
                                        <tr>
                                            <td>Oil Level</td>
                                            <td class="success">Normal</td>
                                            <td>        </td>
                                        </tr>
                                        <tr>
                                            <td>Buckolz Relay</td>
                                            <td class="danger">Alarm</td>
                                            <td>        </td>
                                        </tr>
                                        <tr>
                                            <td>Winding Temperature</td>
                                            <td class="success">Normal</td>
                                            <td>        </td>
                                        </tr>
                                        <tr>
                                            <td>Operational Status</td>
                                            <td class="warning">Warning</td>
                                            <td>        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        Alerts Report
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Priority</th>
                                        <th>Name</th>
                                        <th>Occurences</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><div style="border-radius: 50%;width: 2px;height: 2px;padding: 8px;margin: 0 auto;background: red;color: #000;text-align: center;"></div></td>
                                        <td>TRFR_Comm_Failure</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td><div style="border-radius: 50%;width: 2px;height: 2px;padding: 8px;margin: 0 auto;background: yellow;color: #000;text-align: center;"></div></td>
                                        <td>TRFR_WTI_Failure</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td><div style="border-radius: 50%;width: 2px;height: 2px;padding: 8px;margin: 0 auto;background: red;color: #000;text-align: center;"></div></td>
                                        <td>TRFR_OLI_Failure</td>
                                        <td>7</td>
                                    </tr>
                                    <tr>
                                        <td><div style="border-radius: 50%;width: 2px;height: 2px;padding: 8px;margin: 0 auto;background: red;color: #000;text-align: center;"></div></td>
                                        <td>TRFR_OTI_Failure</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <td><div style="border-radius: 50%;width: 2px;height: 2px;padding: 8px;margin: 0 auto;background: aqua;color: #000;text-align: center;"></div></td>
                                        <td>TRFR_BUCK_Failure</td>
                                        <td>3</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div style="width: 10px; height: 10px; background: red; float:left;"></div> 
                                <div style="float:left;margin-left: 5px;margin-top: -5px;">High</div>
                              </div>
                              <div style="float:left; margin-left:5px;">
                                <div style="width: 10px; height: 10px; background: yellow; float:left;"></div> 
                                <div style="float:left;margin-left: 5px;margin-top: -5px;">Medium</div>
                              </div>
                              <div style="float:left; margin-left:5px;">
                                <div style="width: 10px; height: 10px; background: aqua; float:left;"></div> 
                                <div style="float:left;margin-left: 5px;margin-top: -5px;">Low</div>
                              </div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
               </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Asset Properties
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Manufacturer</th>
                                            <th>EDMI</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Type:</td>
                                            <td>Pad Mount</td>
                                        </tr>
                                        <tr>
                                            <td>Cooling:</td>
                                            <td>Oil Air Forced</td>
                                        </tr>
                                        <tr>
                                            <td>Coolant Type:</td>
                                            <td>Mineral Oil</td>
                                        </tr>
                                        <tr>
                                            <td>Coolant Tank Capacity:</td>
                                            <td>360</td>
                                        </tr>
                                        <tr>
                                            <td>Power Rating:</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Impedance(%):</td>
                                            <td>5.84</td>
                                        </tr>
                                        <tr>
                                            <td>Primary Side Voltage:</td>
                                            <td>12000</td>
                                        </tr>
                                        <tr>
                                            <td>Secondary Side Voltage:</td>
                                            <td>480/277</td>
                                        </tr>
                                        <tr>
                                            <td>Primary Side winding Connection:</td>
                                            <td>Delta</td>
                                        </tr>
                                        <tr>
                                            <td>Secondary Side winding Connection:</td>
                                            <td>Star</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Tappings available:</td>
                                            <td>5</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-6 -->
            </div>
