  <!-- /.row -->
 <style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #afb4bd;
    overflow-x: hidden;
    transition: 1.5s ease;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
   
    transition: 0.3s ease
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>


            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="margin: 51px 0 5px;"> Analytics </h1>
                </div>
                <!-- /.col-lg-6 -->
 <!-- <span style="font-size:15px;cursor:pointer" data-ng-click="openNav()">&#9776; Get Assets List</span>
  
            
     <div id="mySidenav" class="sidenav" >
  <a href="javascript:void(0)" class="closebtn" data-ng-click="closeNav()">&times;</a>

                             <div
      data-angular-treeview="true"
      data-tree-model="roleList1"
      data-node-label="roleName"
      data-node-children="children" >

      
    </div>
    <hr>
    <div id="asset"><b>Asset Parameters:</b> </div> 
</div> -->
                  <div class="col-lg-3"><b> Asset Parameters:</b>
                    
    <div id="asset"> </div> 
  </div>
   <div class="col-lg-9">
                    <div class="panel panel-default" style="width: 100%;float: left;">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-md-4">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        Parameters Comparision
                        </div >

              <div class="col-md-8">
                <div class="row">


                      <div class="col-md-5" class="input-group date" id="datetimepicker1" >
                          <input type="text" class="form-control" placeholder="START" ng-model="startsmb" datetime-picker hour="23" minute='59' />
                      </div>
                      <div class="col-md-5"class="input-group date" id="datetimepicker1" >
                        <input type="text" class="form-control" placeholder="END" ng-model="endsmb" datetime-picker hour="23" minute='59' />
                      </div>
                      <div class="col-md-1"class="input-group date" id="datetimepicker1" ng-click="VnCsmb(startsmb,endsmb)">
                       <button type="button" class="btn btn-info btn-sm glyphicon glyphicon-circle-arrow-right"></button>
                      </div>

                </div>
              </div>
          </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          
                          
                     

                            <div  class="flot-chart">
                             <loading></loading>

                                <div class="flot-chart-content" id="multi-axis-line"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
               </div>

           <!--   <div id="asset"><b>Asset Parameters:</b> </div>  -->
          
            </div>
