<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>OPERA</title>

    <!-- Bootstrap Core CSS -->
    <link href="ui/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="ui/content/css/metisMenu.min.css" rel="stylesheet" />
    <link href="ui/content/css/sb-admin-2.css" rel="stylesheet" />
    <link href="ui/content/css/angularjs-datetime-picker.css" rel="stylesheet" />
    <link href="ui/content/css/morris.css" rel="stylesheet" />
    <link href="ui/content/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" /> 
    <link href="ui/content/css/ng-table.min.css" rel="stylesheet" />
    
    <link href="ui/content/css/custom.css" rel="stylesheet" />
    <link href="ui/content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="ui/dist_LTE/css/AdminLTE.css" rel="stylesheet" />
   
    <script src="ui/scripts/jquery.min.js"></script>
    <script src="ui/scripts/angular-1.4.2.js"></script>
    <script src="ui/scripts/bootstrap.min.js"></script>
    <script src="ui/scripts/metisMenu.min.js"></script>
    <script src="ui/scripts/raphael.min.js"></script>
    <!--script src="ui/scripts/morris.min.js"></script -->
    <script src="ui/scripts/morris-data.js"></script>
    <script src="ui/scripts/fusioncharts.js"></script>
    <script src="ui/scripts/fusioncharts.charts.js"></script>
    <script src="ui/scripts/fusioncharts.widgets.js"></script>
    <script src="ui/scripts/highcharts.js"></script>
    <script src="ui/scripts/highcharts.exporting.js"></script>
    <script src="ui/scripts/highcharts-more.js"></script>
    <script src="ui/scripts/solid-gauge.js"></script>
    <script src="ui/scripts/aws-sdk-2.0.0-rc.14.min.js"></script>
    <script src="ui/scripts/ng-table.min.js"></script>

    <script src="ui/scripts/mqttws.js"></script>
    <script src="ui/scripts/sb-admin-2.js"></script>
    <!-- <script src="ui/scripts/angular.min.js"></script> -->
    <script src="ui/scripts/angular-ui-router.min.js"></script>
    <script src="ui/scripts/angular-resource-1.4.2.min.js"></script>
    <script src="ui/scripts/angularjs-datetime-picker.js"></script>

    <script src="ui/main/app.js"></script>
    <script src="ui/controllers/smbCtrl.js"></script>
    <script src="ui/controllers/bodyCtrl.js"></script>
    <script src="ui/controllers/navCtrl.js"></script>
    <script src="ui/controllers/wstnCtrl.js"></script>
    <script src="ui/controllers/trCtrl.js"></script>
    <script src="ui/controllers/analyticsCtrl.js"></script>
    <script src="ui/controllers/droneCtrl.js"></script>
    <script src="ui/controllers/invCtrl.js"></script>
    <script src="ui/controllers/dashboardCtrl.js"></script>
    <script src="ui/controllers/treeCtrl.js"></script>
    <script src="ui/controllers/emCtrl.js"></script>
    <script src="ui/controllers/loginCtrl.js"></script>
    <script src="ui/controllers/ticketDetailsCtrl.js"></script>
    <script src="ui/controllers/routes.js"></script>
    <script src="ui/services/directives.js"></script>
    <script src="ui/services/services.js"></script>

</head>
<body ng-app="app" style='overflow: hidden;'>
    <div ng-controller="bodyCtrl">
    <div ui-view="noMenu"></div>
    <div id='header'>
            <div ui-view="header_menu" id="header_menu"></div>
    </div>
    <div id="wrapper" ng-hide="loginHide" >        
            <div id="menu-wrapper"  class="col-md-3 col-sm-3 col-xs-3">            
              <div id='expandMenue' style ='width:20px;height:20px;background-image: url("ui/content/images/menu_expand.png");background-size:20px;background-repeat: no-repeat;'></div>
              <div ui-view="tree_menu" id="tree_menu"></div>    
            </div>
            
            <div id="page-wrapper" style='overflow:scroll;'>
                <div ui-view="page"></div>
            </div>
    </div>
    </div>
</body>
</html>